.test-icon-size1 {
    font-size: 14px !important;
}
.test-icon-size2 {
    font-size: 12px !important;
}

.btn-primary.override-rounded-black {

    border-radius: 1.5em;
    text-align: center
}

.btn-sm.override-rounded-black{
    border-radius: 19px;
}

