.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile-image-container {
  position: relative;
  display: inline-block;
}

.profile-banner {
  display: block;
  width: 100%;
  height: auto;
}

.profile-avarter {
  width: 20%;
  position: absolute;
  top: 74%;
  left: 5%;
  border: 8px solid white;
  z-index: 1;
  border-radius: 50%;
  opacity: 1;
  background-color:  white;
}

.edit-profile-banner {
  display: block;
  width: 100%;
  height: auto;
  filter: brightness(50%);
}

.edit-profile-avarter {
  width: 20%;
  position: absolute;
  top: 85%;
  left: 5%;
  border: 8px solid #fff;
  z-index: 1;
  border-radius: 50%;
  opacity: 1;
  background-color:  white;
  filter: brightness(50%);

}

